services:
  frontend:
    container_name: fullstack_ecomm_stripe_client
    build:
      context: ./client
    ports:
      - 3000:3000
    volumes:
      - ./client:/app
      - /app/node_modules
    restart: always
  backend:
    container_name: fullstack_ecomm_stripe_server
    restart: always
    build: 
      context: ./server
    volumes:
      - ./server:/app
      - /app/node_modules
    ports:
      - 1337:1337

  db:
    image: postgres:17-alpine
    restart: unless-stopped
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres

volumes:
  postgres_data:
